details {
  width: 90%;
  margin: 0 auto;
  background: var(--background-color);
  margin-bottom: 0.5rem;
  border-radius: 10px;
  overflow: hidden;
}

summary {
  padding: 1rem;
  display: block;
  background: var(--progress-background-color);
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
  color: white;
}

summary:before {
  content: "";
  border-width: 0.4rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
}

/* THE MAGIC 🧙‍♀️ */
details[open] > summary:before {
  transform: rotate(90deg);
}

details summary::-webkit-details-marker {
  display: none;
}

details > ul {
  padding-bottom: 1rem;
  margin-bottom: 0;
}
